@model IEnumerable<School.Models.Course>
@{
    ViewBag.Title = "List";
}

@section Scripts
{
    <script>
        $(function () {
          $("#n").val('@TempData["n"]');
          $("#n").change(function () {
            $("#v").prop("disabled", $("#n").val().trim().length === 0);
          });
          if ('@TempData["n"]'.trim().length) {
            $("#v").prop("disabled", false);
          }

      });
    </script>
}

<h2>List</h2>
<p>This page should be showing information about all classes</p>

<div id="containerlist">
    <h4>Find a class</h4>
    <form method="get" class="row g-3">
        <div class="col-auto">
            <select name="n" id="n" class="form-select">
                <option value="">-</option>
                <option value="classcode">Class Code</option>
                <option value="startdate">Start Date</option>
                <option value="finishdate">Finish Date(yyyy-MM-DD)</option>
                <option value="classname">Class Name</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="v" name="v" value="@TempData["v"]" disabled />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                Search
            </button>
        </div>
    </form>

    <br />

    <h2>List of Classes</h2>
    <ul class="list-group">
        @foreach (var course in Model)
        {
            <li class="list-group-item">
                <a href="/Course/Show/@course.ClassId">@course.ClassName (@course.ClassCode)</a>
            </li>
        }
    </ul>
    </div>