@model School.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back To Teachers</a>
<div id="containershow">
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>TeacherId: @Model.TeacherId</p>
    <p>Employee Number: @Model.EmployeeNumber</p>
    <p>Salary: @Model.Salary</p>
    <p>Hire Date: @Model.HireDate</p>
</div>